body{
    text-align: center;
}

.heading{
    width:100%;
    text-align: left;
}

.heading h3{
    font-size: 18px;
    display: inline;
}

.heading button{
    float: right;
    border:1px solid black;
}

#start, #status , #stop{
    font-size: 22px;
}

.footer{
    position : fixed ;
    background : red;
    color: black;
    font-weight: bold;
    border : 3px solid black;
    border-radius:15px;
}